
# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

# Running on Port
PORT=3000

# Python Version
PYTHON_VERSION=python3.12

# Database
MONGO_URI=mongodb://localhost:27017/resources-game-stats-api

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=john.doe@example.com
EMAIL_FROM="John Doe" <john.doe@example.com>
EMAIL_PASSWORD=yourpassword

# JWT Secret Key
JWT_SECRET_KEY=

# Resources Game API-TOKEN
API_RESOURCES_TOKEN=