
# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=3000

# Database
MONGO_URI=mongodb://localhost:27017/resources-game-stats-api

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=john.doe@example.com
EMAIL_FROM="John Doe" <john.doe@example.com>
EMAIL_PASSWORD=yourpassword
